<p id="notice"><%= notice %></p>

<h1>Comics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Issue</th>
      <th>Pages</th>
      <th>Dimensions</th>
      <th>Cover price</th>
      <th>Currency</th>
      <th>Cover date</th>
      <th>Upc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comics.each do |comic| %>
      <tr>
        <td><%= comic.title %></td>
        <td><%= comic.issue %></td>
        <td><%= comic.pages %></td>
        <td><%= comic.dimensions %></td>
        <td><%= comic.cover_price %></td>
        <td><%= comic.currency %></td>
        <td><%= comic.cover_date %></td>
        <td><%= comic.upc %></td>
        <td><%= link_to 'Show', series_comic_path(comic.series, comic) %></td>
        <td><%= link_to 'Edit', edit_series_comic_path(comic.series, comic) %></td>
        <td><%= link_to 'Destroy', series_comic_path(comic.series, comic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comic', new_series_comic_path(@series) %>
