<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comic.title %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @comic.issue %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @comic.pages %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @comic.dimensions %>
</p>

<p>
  <strong>Cover price:</strong>
  <%= @comic.cover_price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @comic.currency %>
</p>

<p>
  <strong>Cover date:</strong>
  <%= @comic.cover_date %>
</p>

<p>
  <strong>Upc:</strong>
  <%= @comic.upc %>
</p>

<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
